{% extends "layout.html" %}
{% block content %}

<!-- Page Content -->
  <div class="col-lg-12 text-center" >

    <div class="wrap-upload100">


      <span class="login100-form-title">Upload or search a product's price</span>

      <div class="wrap-input100">
        <a class="login100-form-btn" style="text-decoration: none" href="search" >Search a product</a>
      </div>
      <div class="wrap-input100">
        <a class="login100-form-btn" style="text-decoration: none" href="upload">Upload a product </a>
      </div>


    </div>

  </div>  


{% endblock content %}
