{% extends "layout.html" %}


{% block content %}
  <div class="col-lg-12 text-center" >
    <div class="wrap-login100">
      <!-- login form -->
      <form class="login100-form" action="login" method="post">

        <span class="login100-form-title">
          Member Login
        </span>

        {% if error %}
        <p class="error"><strong>{{error}}</strong></p>
        {% endif %}

        {{ form.csrf_token }}
        <div class="wrap-input100">
          {{form.username(class='input100')}}
        </div>

        <div class="wrap-input100">
        {{form.password(class='input100')}}
        </div>

        <div class="container-login100-form-btn">
          <input class="login100-form-btn" type="submit" value="Loginnn">
        </div>

        <div class="text-center p-t-136">
          <a class="txt2" href="register">
            Create your Account
            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
          </a>
        </div>

      </form>
        
  </div>
  </div>

{% endblock content %}
