{% extends "layout.html" %}

{% block content %}

<!-- Page Content -->
  <div class="wrap-upload100" >

    <div class="wrap-upload100">

    <form class="login100-form" action='/search' method="post">
      <span class="login100-form-title">Enter the product's name</span>

      <div class="wrap-input100">
          <!-- <input class="input100" type="text" placeholder="Product Name" name="product" required> -->
          {{ form.csrf_token }}
          {{form.product(class='input100')}}
        </div>

        <div class="wrap-input100">
          <input class="login100-form-btn" type="submit"  value="Search">
        </div>

    </form>
  </div>

    <div class="wrap-upload100">
      {% if info %}
      <table class="table table-dark table-display">
      <thead>
        <tr>
          <th scope="col">Item</th>
          <th scope="col">Price Type</th>
          <th scope="col">Price</th>
          <th scope="col">Location</th>
        </tr>
      </thead>
      <tbody>
        {% for each in info %}
        <tr>
          <td >{{each['product']}}</td>
          <td >{{each['price_type']}}</td>
          <td >{{each['price']}}</td>
          <td >{{each['address']}}</td>
        </tr>
        {%endfor%}
      </tbody>
    </table>

      {% endif %}  
    </div>
  </div>  


{% endblock content %}
